.song-card {
    justify-content: space-between;
    box-shadow: 0 4px 30px rgb(0 0 0 / 12%);
    backdrop-filter: blur(25px);
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.09);
    color: white;
    border: 1px solid rgb(255 255 255 / 7%);
}



.react-h5-audio-player {
    justify-content: space-between;
    box-shadow: 0 4px 30px rgb(0 0 0 / 12%);
    backdrop-filter: blur(25px);
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.09);
    color: white;
    border: 1px solid rgb(255 255 255 / 7%);
  }

  #rhap_current-time {
    color: white!important;
  }

  .rhap_total-time {
    color: white!important;
  }
  
  /* You may also want to style the individual controls */
  .react-h5-audio-player .rhap_button-clear {
    /* Button styles */
    padding: 0;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  color: #fff; /* White text color */
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

  .rhap_progress-section {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .rhap_progress-filled {
    background:-webkit-linear-gradient(
        180deg,
        hsl(1, 68%, 41%) 0%,
        hsla(328, 100%, 24%, 1) 100%
      )!important;
  }



  .rhap_main-controls {
    gap: 0.5rem;
    display: flex;
  }

  /* Customizing the main progress bar container */

  .rhap_progress-section {
    display: flex;
    
  }
 
.rhap_progress-bar {
    background-color: #247bd3!important; /* Example background color */
    width: 100%;
    border-radius: 4px; /* Example border radius */
  }

  .rhap_progress-indicator {
    background: rgba(255, 255, 255, 0.59)!important;
  }
  .rhap_volume-indicator {
    background: rgba(255, 255, 255, 0.59)!important;

  }
  

 
 


 
  
 
  
  /* Continue styling other parts of the player as needed */