/* this is for the glass lookin card */
.library-card {
    justify-content: space-between;
    backdrop-filter: blur(25px);
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    color: white;
    border: 1px solid rgb(255 255 255 / 7%);
    transition: background 0.155s ease;
}

.library-card:hover {
    color: white;
    background: rgba(255, 255, 255, 0.15);

}