.hover-card {
    margin-bottom: 1rem;
    transition: background-color 0.2s ease; /* Transition effect */    
}

.hover-card:hover {
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.8px);
    margin-bottom: 1rem;
}