.navbar-card {
    justify-content: space-between;
    box-shadow: 0 4px 30px rgb(0 0 0 / 12%);
    backdrop-filter: blur(25px);
    padding: 12px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgb(255 255 255 / 7%);
}

.navbar-container-text {
    font-size: 18px;
    color: #d1c6c6;
    transition: color 0.3s ease;


}

.navbar-container-text:hover {
    color: white!important;

}

#icon-item {
    width: 2.5rem;
}